.musicPlayer {
  min-height: 400px;
}

.trackList {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  height: 300px;
  margin-bottom: 5px;
}

.trackItem {
  cursor: pointer;
  padding: 8px 16px;
  border: 1px solid #ddd;
  margin-top: 2px;
  background-color: #f9f9f9;
}

.trackItem:hover {
  background-color: #f1f1f1;
}

.currentTrack {
  background-color: #4caf50;
  color: white;
}

.currentTrack:hover {
  background-color: #5cd560;
}
