#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.app {
  display: flex;
}

.mediaWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: gray;
  height: 100vh;
  max-width: 450px;
  overflow: hidden;
}
